@import "scroll";

.el-message {
  border: none;
  background-color: #7e8d9a;
  color: #fff;

  .el-message__closeBtn {
    color: #fff;
  }
}
.el-message--info {

  background-color: #7e8d9a;
  .el-icon-info { color: #fff; }
  .el-message__content { color: #fff; }
}
.el-message--success {
  background-color: #5bc146;
  .el-icon-success { color: #fff; }
  .el-message__content { color: #fff; }
}
.el-message--warning {
  background-color: #ffd14d;
  .el-icon-warning { color: #fff; }
  .el-message__content { color: #fff; }
}
.el-message--error {
  background-color: #fe4d62;
  .el-icon-error { color: #fff; }
  .el-message__content { color: #fff; }
}

.el-dialog-width-fix-30 {
  .el-dialog { width: 30%; }
}
.el-dialog-width-fix-40 {
  .el-dialog { width: 40%; }
}
.el-dialog-width-fix-50 {
  .el-dialog { width: 50%; }
}
.el-dialog-width-fix-60 {
  .el-dialog { width: 60%; }
}
.el-dialog-width-fix-70 {
  .el-dialog { width: 70%; }
}
.el-dialog-width-fix-80 {
  .el-dialog { width: 80%; }
}
.el-dialog-width-fix-90 {
  .el-dialog { width: 90%; }
}

@media only screen and (max-width: 768px) {
  .el-dialog-width-fix-30 {
    .el-dialog { width: 50%; }
  }
  .el-dialog-width-fix-40 {
    .el-dialog { width: 60%; }
  }
  .el-dialog-width-fix-50 {
    .el-dialog { width: 70%; }
  }
  .el-dialog-width-fix-60 {
    .el-dialog { width: 80%; }
  }
  .el-dialog-width-fix-70,
  .el-dialog-width-fix-80,
  .el-dialog-width-fix-90 {
    .el-dialog { width: 90%; }
  }
}
@media only screen and (max-width: 425px) {
  .el-dialog-width-fix-30,
  .el-dialog-width-fix-40,
  .el-dialog-width-fix-50,
  .el-dialog-width-fix-60,
  .el-dialog-width-fix-70,
  .el-dialog-width-fix-80,
  .el-dialog-width-fix-90 {
    .el-dialog { width: 92%; }
  }
}

.el-dialog__wrapper{
  @include pc-fix-scrollbar-white();
}
.el-table__body-wrapper{
  @include pc-fix-scrollbar-white();
}

.el-form-span {
  display: inline-block;
  color: rgb(143, 143, 143);
  margin-top: 10px;
  line-height: 23px !important;
}

.el-dialog {
  border-radius: 4px;
}

.el-drawer__header {
  margin-bottom: 6px;
}

.el-slider-small {
  height: 13px;

  .el-slider__runway {
    margin: 5px 10px;
    height: 5px;
    width: unset;

    .el-slider__bar {
      height: 5px;

      .el-slider__button-wrapper {
        height: 20px;
        width: 20px;
        z-index: 1001;
        top: -8px;

        .el-slider__button{

        }

      }
    }
  }
}

.el-table {

  td,th {
    padding: 0;
    font-size: 14px;
  }
  thead {
    color: #909399;
    font-weight: bold;
    font-size: 13px;
  }
  .cell {
    word-break: break-all;
    line-height: 15px;
    padding: 0 4px;
  }
}

.el-button--mini, .el-button--small {
  font-size: 12px;
  border-radius: 3px;

  i {
    font-size: 12px;
  }
}

.el-checkbox.single {
  margin-right: 0;

  .el-checkbox__label {
    padding-left: 0;
    width: 0;
  }
} 

.el-checkbox.round {

  width: 20px;
  height: 20px;

  .el-checkbox__input {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  .el-checkbox__inner {
    border: 2px solid #dcdfe6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0;

    &:after {
      border: 2px solid #fff;
      height: 8px;
      left: 5px;
      top: 2px;
      width: 4px;
    }
  }
}
.el-message-box__message p {
  line-height: 16px;
}
.el-form-item__label {
  line-height: 20px;
  padding-top: 10px;
}