@import "intro";
@import "utilities";
@import "icons";
@import "window";
@import "small-widgets";
@import "el-fix";
@import "fonts";
@import "scroll";

//

body, html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei UI;
  font-weight: normal;
  font-size: 14px;
}
body{
  overflow: hidden;
  background-color: #f1f1f1;
}

/*App*/
#app {
  display: block;
  width: 100%;
  height: 100%;
}

/*Link style*/

a {

  color: #4698f7;
  text-decoration: none;
  transition: all ease-in-out .3s;

  &:hover, &:active {
    color: #2b67e7;
    text-decoration: none;
  }

}

$top-bar-height: 100px;
$bottom-bar-height: 70px;

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $top-bar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .top-menu {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px 13px 0 0;
  }

  background-color: transparent;
}
.calendar-mask {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2998;
}
.calendar-host {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  bottom: 0;
  width: 330px;
  z-index: 2999;
  box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.2);
  background-image: url(../images/bg2.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;

  .place-holder-top {
    position: absolute;
    left: 0;
    top: 0;
    height: $top-bar-height;
    right: 0;
  }
  .place-holder-center {
    background-color: rgba(255,255,255,.4);
    position: absolute;
    left: 0;
    top: $top-bar-height;
    bottom: $bottom-bar-height;
    right: 0;
    z-index: -1;
    padding: 10px 15px;
    overflow: hidden;
    overflow-y: scroll;

    @include pc-fix-scrollbar-white();
  }
  .place-holder-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: $bottom-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-area {
  position: absolute;
  left: 0;
  right: 0;
  top: $top-bar-height;
  bottom: 0;
  z-index: 1;
  overflow: hidden;

  .main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $bottom-bar-height;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.08);
    overflow: hidden;
    overflow-y: scroll;

    @include pc-fix-scrollbar-white();
  }
  .bottom-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $bottom-bar-height;
  
    background-color: transparent;
  }
}
